<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../../../images/angular.svg" alt="">
      <div class="caption">
        <h3>Angular was used for the front-end component.</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../../../images/Kafka.png" alt="">
      <div class="caption">
        <h3>Kafka was used for the back-end component.</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../../../images/mongodb.png" alt="">
      <div class="caption">
        <h3>MongoDB was used for the back-end component.</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../../../images/GNIP.png" alt="">
      <div class="caption">
        <h3>GNIP was used for the back-end and front-end components.</h3>
        <p>...</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../../../images/aws.png" alt="">
      <div class="caption">
        <h3>AWS was used for the back-end component.</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="../../../images/node.png" alt="">
      <div class="caption">
        <h3>Node was used for the back-end and front-end components.</h3>
      </div>
    </div>
  </div>
</div>
