<div class="row">
    <div align="center">
        <h1><b>Tech used to power Lit Maps</b></h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 text-center">
        <img src="../../../images/angular.svg" alt="">
        <h2><b>Angular</b></h2>
    </div>
    <div class="col-sm-4 text-center">
        <img src="../../../images/Kafka.png" alt="">
        <h2><b>Kafka</b></h2>
    </div>
    <div class="col-sm-4 text-center">
        <img src="../../../images/Mongo.png" alt="">
        <h2><b>Mongo</b></h2>
    </div>
</div>
