<div class="row">
  <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
    <iframe width="1200" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key= AIzaSyBVCdV_g0UDel1hHZYuN5qjIGHD6dzZhWE
            &q=United States of America
            &center= 39.8282, -98.5795
            &zoom=4" allowfullscreen>
        </iframe>
  </div>

</div>
<div class="row">
  <div class="col-sm-3 pull-left">
    <div id="myWidget" class="SPWidget"></div>
  </div>
</div>
