/***JUMBOTRON***/

.jumbotron {
  background-image: url('taylor_swift.jpg');
  background-size: 100%;
  height: 700px;
}

.jumbotron img {
  padding-left: 10px;
}

.jumbotron .container h1 {
  padding-top: 80px;
  color: white;
}

.jumbotron li {
  display: inline;
  list-style: none;
  margin-left: 40px;
}
.jumbotron a {
  font-size: 15px;
}
.jumbotron a:hover {
  color: white;
}
.jumbotron .btn{
  background-color: #ff003d;
  color: white;
  border-radius: 0;
  border-color: #ff003d;
  padding: 7px 30px;
}

.jumbotron .btn:hover{
  color: inherit;
}

.jumbotron .download {
  margin-top: 20px;
}
