
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <center>
      <img src="../../../images/NolaweeAbout.jpg" alt="" width="250" height="250" border= "5px">
      <div class="caption">
        <font face="sans-serif" color="limegreen">
        <h2>Nolawee</h2>
      </font>
        <font face="courier" color="limegreen" font-size: "30px">
        <p>Nolawee worked on front end and helped develop the web page and the data visualization as well as investigating the Spotify API. He's a Senior and is a Colorado Native. Nolawee appreciates technology and music. He's funny 0% of the time, but we laugh at his jokes anyway.</p>
      </font>
      </center>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <center>
      <img src="../../../images/MitchAbout.jpg" alt="" width="250" height="250" border= "5px">
      <div class="caption">
        <font face="sans-serif" color="limegreen">
        <h2>Mitch</h2>
      </font>
        <font face="courier" color="limegreen" font-size: "30px">
        <p>Mitch worked on the back-end. He set up Kafka, set up the AWS environment, as well as GNIP. Mitch is a Colorado Native and will be graduating this May. He enjoys long walks on the beach and prefers to jam out to music alone in his room.</p>
      </font>
     </center>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <center>
      <img src="../../../images/JenAbout.jpg" alt="" width="250" height="250" border= "5px">
      <div class="caption">
        <font face="sans-serif" color="limegreen">
        <h2>Jen</h2>
      </font>
        <font face="courier" color="limegreen" font-size: "30px">
        <p>Jen worked on the back-end. She used nodeJS, helped Mitch with the twitter firehose, and created the data pipeline between the front-end and back in. She is a Senior and will also be graduating this May. Jen is a Colorado Native and enjoys walking her dogs at the end of a long day.</p>
      </font>
     </center>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <center>
      <img src="../../../images/AycelAbout.jpg" alt="" width="250" height="250" border= "5px">
      <div class="caption">
        <font face="sans-serif" color="limegreen">
        <h2>Aycel</h2>
      </font>
        <font face="courier" color="limegreen" font-size: "30px">
        <p>Aycel worked on the front-end. She investigated the use of D3 as an overlay on a Google Map. She created a map with the use of the Google Maps API and helped with the creation of the web page. Aycel is a Colorado Native. She enjoys speending her summer rooting for the Rockies.</p>
      </font>
      </center>
      </div>
    </div>
  </div>
</div>
