<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="../../../images/NolaweeAbout.jpg" alt="" width="250" height="250">
      <div class="caption">
        <h3>Nolawee</h3>
        <p>Nolawee worked on front end and helped develop the web page and the data visualization as well as investigating the Spotify API. Nolawee appreciates technology and music. He's funny 0% of the time.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="../../../images/MitchAbout.jpg" alt="" width="250" height="250">
      <div class="caption">
        <h3>Mitch</h3>
        <p>Mitch worked on the back-end, data pipline and dev ops parts of Lit Maps. He set up Kafka, set up the AWS environment, as well as GNIP. He enjoys long walks on the beach and prefers to jam out to music alone in his room.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="../../../images/JenAbout.jpg" alt="" width="250" height="250">
      <div class="caption">
        <h3>Jen</h3>
        <p>Jen worked on the back-end. She used nodeJS, helped Mitch with the twitter firehose, and created the data pipeline between the front-end and back in. Jen is a Colorado Native and enjoys walking her dogs at the end of a long day.</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
      <img src="../../../images/AycelAbout.jpg" alt="">
      <div class="caption">
        <h3>Aycel</h3>
        <p>Aycel worked on the front-end. She investigated the use of D3 with Google Maps. She created a map with the use of the Google Maps API and helped with the creation of the web page. She enjoys spending her summer rooting for the Rockies.</p>
      </div>
    </div>
  </div>
</div>
