.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    padding: 5px;
}

.row{
    padding-bottom: 10px;
    padding-top: 10px;
    position: absolute;
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: 100%;
}

.card img:hover {
  -webkit-filter: grayscale();
          filter: grayscale();
  cursor: pointer;
}


.container {
    padding: 2px 16px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
