<div class="row">
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="col-sm-4 card">
      <div class="card-header" role="tab">
        <img src="https://i.scdn.co/image/4dea3b52b629d0e0098261101aa007fdd88e30b8" [routerLink]="['/map']">
        <h4><b>Humble.</b></h4>
        <p>Kendrick Lamar</p>
        <p>Humble Single</p>
      </div>
    </div>
</div>

<!--<div class="row">
  <div class="col-sm-2 card collapse" id="demo">
    <app-map></app-map>
  </div>
</div>-->
